.upload-btn {
  font-weight: bold;
  border: none;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #1968fc;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
}

.title-underline {
  width: 80px;
  border-bottom: #1968fc 2px solid;
}
@media screen and (min-width: 1024px) {
  .title-underline {
    position: relative;
    right: 40px;
  }
}

.page-header {
  padding-left: 80px;
}
@media screen and (min-width: 1024px) {
  .page-header {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
  }
}
.page-header__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__navigation {
    display: flex;
    margin-left: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .page-header__navigation-item {
    height: 50px;
    width: 120px;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color: #000;
  }
  .page-header__navigation-item:nth-last-child(1) {
    width: 180px;
  }
}
.page-header__upload-btn {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__upload-btn {
    display: block;
    width: 180px;
    height: 50px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .logo {
    padding-left: 0;
  }
}
.logo__img {
  margin-right: 10px;
}
.logo__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #1968fc;
}

.headline__container {
  margin: 80px;
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .headline__container {
    margin: 0;
    margin-top: 150px;
  }
}
.headline__title {
  font-weight: 600;
  margin: 0;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .headline__title {
    width: 600px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
}
.headline__description {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .headline__description {
    width: 600px;
    font-size: 20px;
    line-height: 40px;
  }
}
.headline__upload-btn-mobile {
  height: 50px;
  width: 300px;
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (min-width: 1024px) {
  .headline__upload-btn-mobile {
    display: none;
  }
}
.headline__upload-btn-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .headline__upload-btn-desktop {
    display: block;
    height: 50px;
    width: 300px;
    text-align: center;
    margin-bottom: 160px;
  }
}
.headline__img {
  max-width: 100%;
  display: block;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .headline__img {
    position: absolute;
    top: 280px;
    right: 160px;
  }
}
.headline__banner {
  width: 100%;
  height: 180px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png);
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 0 60px;
}
@media screen and (min-width: 1024px) {
  .headline__banner {
    display: none;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
@media screen and (min-width: 1024px) {
  .reviews {
    flex-direction: row;
    margin: auto;
    margin-bottom: 120px;
  }
}

.review {
  position: relative;
  padding: 40px;
  width: 540px;
  height: 280px;
  box-shadow: 0px 20px 60px rgba(25, 104, 252, 0.1);
  margin-top: 50px;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .review {
    margin-top: 0;
  }
}
.review__pic {
  max-width: 100%;
  margin-right: 20px;
}
.review__profile {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.review__name {
  height: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.review__text {
  font-size: 16px;
  line-height: 30px;
}
.review__post {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #1967fa;
  opacity: 0.8;
}
.review__quotes {
  position: absolute;
  top: 40px;
  right: 40px;
}
@media screen and (min-width: 1024px) {
  .review:nth-child(1) {
    margin-right: 40px;
  }
}
.review__text-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .review__text-desktop {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .review__text-mobile {
    display: none;
  }
}

.wokflow {
  padding: 0 55px 120px 60px;
}
@media screen and (min-width: 1024px) {
  .wokflow {
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 120px;
  }
}
.wokflow__title {
  margin: 0;
  font-size: 30px;
  line-height: 60px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .wokflow__title {
    margin-left: 0px;
  }
}
.wokflow__container {
  margin: auto;
  margin-top: 48px;
}
@media screen and (min-width: 1024px) {
  .wokflow__container {
    display: flex;
  }
}
.wokflow__line {
  height: 40px;
  border-left: 2px dashed #1968fc;
  margin-left: 59px;
}
@media screen and (min-width: 1024px) {
  .wokflow__line {
    height: 0;
    width: 70px;
    border: none;
    border-top: 2px dashed #1968fc;
    margin: 0;
    margin-top: 110px;
  }
}

.wokflow-step {
  margin: auto;
  position: relative;
  width: 525px;
  height: 185px;
  background: #fff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  padding: 40px;
}
@media screen and (min-width: 1024px) {
  .wokflow-step {
    width: 325px;
    height: 225px;
    margin: 0;
  }
}
.wokflow-step__title {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}
.wokflow-step__subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1967fa;
  margin-bottom: 10px;
}
.wokflow-step__text {
  font-size: 16px;
  line-height: 30px;
}
.wokflow-step__icon {
  position: absolute;
  top: 40px;
  right: 40px;
}
.wokflow-step__decoration {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

@media screen and (min-width: 1024px) {
  .first-step {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .second-step {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .third-step {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .second-line {
    margin-top: 149px;
  }
}

.features {
  padding: 0 55px 120px 60px;
}
@media screen and (min-width: 1024px) {
  .features {
    padding: 0;
    margin-bottom: 120px;
  }
}
.features__title {
  font-size: 30px;
  font-weight: normal;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .features__list {
    flex-direction: row;
    margin-top: 48px;
    height: 375px;
    align-items: flex-start;
  }
}

.feature {
  width: 525px;
  height: 205px;
  margin-bottom: 55px;
  background-color: #fff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  position: relative;
}
@media screen and (min-width: 1024px) {
  .feature {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 295px;
  }
}
.feature__top {
  height: 80px;
  background-color: #f3f7ff;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .feature__top {
    height: 120px;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .feature__pic {
    width: 120px;
    height: 120px;
  }
}
.feature__title {
  margin: 0;
  margin-left: 20px;
  line-height: 80px;
  font-weight: 600;
  font-size: 20px;
}
@media screen and (min-width: 1024px) {
  .feature__title {
    line-height: 30px;
    margin-right: 20px;
  }
}
.feature__text {
  font-size: 16px;
  line-height: 30px;
  margin: 30px 40px;
}
@media screen and (min-width: 1024px) {
  .feature__text {
    margin: 40px;
  }
}
.feature__decoration {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.feature-first {
  margin-top: 48px;
}
@media screen and (min-width: 1024px) {
  .feature-first {
    margin: 0;
    margin-right: 69px;
  }
}

.feature-third {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .feature-third {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .feature-second {
    margin: 0;
    margin-top: 40px;
    margin-right: 81px;
  }
}

.users {
  padding: 0 60px 100px 60px;
}
@media screen and (min-width: 1024px) {
  .users {
    padding: 0;
    margin-bottom: 120px;
  }
}
.users__title-desktop {
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0;
  display: none;
}
@media screen and (min-width: 1024px) {
  .users__title-desktop {
    display: block;
    margin-bottom: 10px;
  }
}
.users__title-mobile {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .users__title-mobile {
    display: none;
  }
}
.users__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 28px;
}
@media screen and (min-width: 1024px) {
  .users__container {
    margin-top: 38px;
    justify-content: initial;
  }
}

.user {
  display: inline;
  background-color: #fff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  width: 250px;
  height: 190px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.user:nth-child(2n) {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .user {
    width: 360px;
    height: 160px;
  }
  .user:nth-child(2n) {
    margin-right: 20px;
  }
  .user:nth-child(3n) {
    margin-right: 0;
  }
  .user:nth-child(n+4) {
    margin-bottom: 0;
  }
}
.user__title {
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1968fc;
}
.user__text {
  margin: 20px;
  font-size: 16px;
  line-height: 30px;
}
@media screen and (min-width: 1024px) {
  .user__title-mobile {
    display: none;
  }
}
.user__title-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .user__title-desktop {
    display: block;
  }
}

.purposes {
  padding: 60px;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .purposes {
    padding: 0;
    margin-bottom: 120px;
  }
}
.purposes__title-desktop {
  font-weight: normal;
  margin: 0;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  display: none;
}
@media screen and (min-width: 1024px) {
  .purposes__title-desktop {
    display: block;
    margin-bottom: 10px;
  }
}
.purposes__title-mobile {
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 60px;
  font-weight: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .purposes__title-mobile {
    display: none;
  }
}
.purposes__container {
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .purposes__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.purpose {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  margin-bottom: 40px;
}
.purpose:last-child {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .purpose {
    width: 540px;
  }
  .purpose:nth-child(3) {
    margin: 0;
  }
  .purpose:nth-child(2n-1) {
    margin-right: 40px;
  }
}
.purpose__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #000;
  margin-left: 20px;
}

.consultation {
  margin-top: 60px;
  background-color: #1968fc;
  padding: 60px;
  color: #fff;
  margin-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  .consultation {
    position: relative;
    right: 160px;
    width: 1440px;
    height: 450px;
    position: relative;
    padding-top: 80px;
    padding-left: 160px;
    margin-bottom: 135px;
    margin-top: 0;
  }
}
.consultation__title {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
}
.consultation__line {
  margin-top: 10px;
  border-bottom: #fff 2px solid;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .consultation__line {
    margin-bottom: 48px;
  }
}
.consultation__description {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .consultation__description {
    width: 640px;
  }
}
.consultation__button {
  width: 320px;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #1968fc;
}
@media screen and (min-width: 1024px) {
  .consultation__button {
    margin-left: 40px;
  }
}
.consultation__img {
  display: none;
}
@media screen and (min-width: 1024px) {
  .consultation__img {
    display: block;
    position: absolute;
    right: 1px;
    top: 20px;
  }
}

.stories {
  padding: 0 60px 61px 60px;
}
@media screen and (min-width: 1024px) {
  .stories {
    padding: 0;
    margin-bottom: 120px;
  }
}
.stories__title {
  font-weight: normal;
  margin: 0;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.stories__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .stories__container {
    flex-direction: row;
  }
}

.story-card {
  position: relative;
  margin-left: 60px;
  margin-top: 38px;
}
.story-card:last-child {
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .story-card:last-child {
    margin-top: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .story-card {
    width: 480px;
    margin-top: 48px;
  }
  .story-card:first-child {
    margin-right: 150px;
  }
}
.story-card__img {
  position: absolute;
  left: -60px;
}
.story-card__title {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #111111;
  margin-bottom: 20px;
}
.story-card__title-second {
  margin-bottom: 19px;
}
.story-card__text {
  font-size: 16px;
  line-height: 30px;
  color: #000;
}
.story-card__link {
  color: #000;
}

.page-footer {
  background-color: #fbfbfb;
  height: 130px;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .page-footer {
    width: 1440px;
    position: relative;
    right: 160px;
  }
}
.page-footer__menu-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: #000;
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-footer__menu-item {
    display: block;
    width: 120px;
    height: 50px;
  }
}
.page-footer__link {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.page-footer__img {
  position: absolute;
  bottom: 0;
  right: 40px;
  height: 60px;
  filter: drop-shadow(2px 6px 12px rgba(255, 131, 51, 0.3));
}
@media screen and (min-width: 1024px) {
  .page-footer__img {
    right: 160px;
    height: 100px;
  }
}

.footer-logo {
  width: 250px;
  margin-right: 50px;
  margin-left: 40px;
  background: rgba(25, 104, 252, 0.05);
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .footer-logo {
    margin-left: 160px;
    margin-right: 70px;
  }
}
.footer-logo__text {
  width: 200px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #1968fc;
}

.facebook-link {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconFacebook.png);
  margin-right: 3px;
}
@media screen and (min-width: 1024px) {
  .facebook-link {
    margin-left: 50px;
    margin-right: 0;
  }
}

.inst-link {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconInstagram.png);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  color: #11223f;
}

.page {
  min-height: 100vh;
  position: relative;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  .page {
    width: 1440px;
    padding-top: 30px;
    padding-left: 160px;
    padding-right: 160px;
    margin: auto;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
    background-repeat: no-repeat;
  }
}

/*# sourceMappingURL=styles.css.map */
