.consultation {
  margin-top: 60px;
  background-color: $main-blue;
  padding: 60px;
  color: $white;
  margin-bottom: 60px;
  @include lg-screen {
    position: relative;
    right: 160px;
    width: 1440px;
    height: 450px;
    position: relative;
    padding-left: 120px;
    margin-bottom: 135px;
    margin-top: 0;
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    text-transform: uppercase;
    @include lg-screen {
      margin-left: 40px;
    }
  }

  &__line {
    margin-top: 10px;
    border-bottom: $white 2px solid;
    margin-bottom: 50px;
    @include lg-screen {
      margin-bottom: 48px;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
    @include lg-screen {
      width: 640px;
      margin-left: 40px;
    }
  }

  &__button {
    width: 320px;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: $white;
    color: $main-blue;
    @include lg-screen {
      margin-left: 40px;
    }
  }

  &__img {
    display: none;
    @include lg-screen {
      display: block;
      position: absolute;
      right: 1px;
      top: 20px;
    }
  }
}
